<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <p>&copy; {{year}} Arconia. All rights reserved.</p>
      <p>
        <a href="https://github.com/arconia-io" target="_blank">GitHub</a> |
        <a href="{{{or site.url (or siteRootUrl siteRootPath)}}}/docs/arconia/latest/index.html">Documentation</a>
      </p>
    </div>
  </div>
</footer>
